@model EquipmentResponse
@{
    ViewBag.Title = "Edit Equipment";
    ViewBag.CurrentUrl = "~/Admin/Equipment/EditEquipment";
}

<div class="flex">
    <div class="flex-1">
        <div class="text-grey">
            <span>Admin Panel</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">Equipment</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">Edit Equipment</span>
        </div>
    </div>
</div>



<div class="form-container">
    <a asp-controller="Admin" asp-action="Equipment" class="link-hover">Back to Equipment List</a>
    <h2 class="text-large">Edit Territory</h2>
    <form asp-controller="Admin" asp-action="EditEquipment" method="post">
        <input type="hidden" asp-for="Id"></input>
        @*Name*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Name" class="form-label pt">Territory Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="Name" class="form-input" />
                <span asp-validation-for="Name" class="text-red"></span>
            </div>
        </div>
        @*Type*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Type" class="form-label pt">Type</label>
            </div>
            <div class="flex-1">
                <input asp-for="Type" class="form-input" />
                <span asp-validation-for="Type" class="text-red"></span>
            </div>
        </div>
        @*Amount*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Amount" class="form-label pt">Amount</label>
            </div>
            <div class="flex-1">
                <input asp-for="Amount" class="form-input" />
                <span asp-validation-for="Amount" class="text-red"></span>
            </div>
        </div>
 
        @*Submit*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back">Update equipment data</button>
                <div asp-validation-summary="All" class="text-red"></div>
                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </form>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}