@model EquipmentResponse
@{
    ViewBag.Title = "Guard - Equipment details";
    ViewBag.CurrentUrl = "~/Equipment/EquipmentDetails";
}

<div class="flex">
    <div class="flex-1">
        <div class="text-grey">
            <span>Guard Page</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">My equipment</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">All equipment</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">Equipment details</span>
        </div>
    </div>
</div>



<div class="form-container">
    <a asp-controller="Guard" asp-action="AddEquipment" asp-route-equipmentID="@Model.Id" class="link-hover">Back to Equipments List</a>
    <h2 class="text-large">Equipment details</h2>
    <h3>Are you sure to take this equipment?</h3>
    <form asp-controller="Guard" asp-action="EquipmentDetails" method="post">
        <input type="hidden" asp-for="Id"></input>
        <input type="hidden" asp-for="Amount"></input>
        @*TypeOfService*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Name" class="form-label pt">Name of equipment</label>
            </div>
            <div class="flex-1">
                <input asp-for="Name" class="form-input" disabled="disabled" />
                <span asp-validation-for="Name" class="text-red"></span>
            </div>
        </div>
        @*SecurityLevel*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Type" class="form-label pt">Type of equipment</label>
            </div>
            <div class="flex-1">
                <input asp-for="Type" class="form-input" disabled="disabled" />
                <span asp-validation-for="Type" class="text-red"></span>
            </div>
        </div>
        @*Submit*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-blue-back">Take equipment</button>
                <div asp-validation-summary="All" class="text-red"></div>
                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </form>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}