<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="page-content">
            <div class="margin-bottom">
                <div class="flex" id="top-bar-div">
                    <div class="flex-1" id="app-title-div">
                        <h1 class="app-title">
                            <i class="fa-solid fa-people-simple"></i>
                            Secure and Observe. Admin Panel
                        </h1>
                    </div>
                    <div class="flex-1 pr" id="search-box-div">
                        <div class="navbar account-links">
                            <ul>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <i class="fa-solid fa-user"></i>
                                        @User.Identity?.Name
                                    </li>
                                    <li>
                                        <a asp-controller="Admin" asp-action="Logout" asp-area="Admin">Logout</a>

                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="navbar mb">
                <ul>
                    @if (ViewBag.CurrentUrl == "~/Admin/Territories")
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="Territories" class="nav-active">Territories</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="Territories">Territories</a>
                        </li>
                    }
                    @if (ViewBag.CurrentUrl == "~/Admin/Orders")
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="Orders" class="nav-active">Orders</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="Orders">Orders</a>
                        </li>
                    }
                    @if (ViewBag.CurrentUrl == "~/Admin/Ranks")
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="Ranks" class="nav-active">Ranks</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="Ranks">Ranks</a>
                        </li>
                    }
                    @if (ViewBag.CurrentUrl == "~/Admin/Equipment")
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="Equipment" class="nav-active">Equipment</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="Equipment">Equipment</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="body">
                @RenderBody()
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
